#heroImage1 {
    background-image: url("../images/NoPath\ -\ Copy\ \(2\).png");
    background-position: center;
    background-size: cover;
    height: 70vh;
}

#heroImage2 {
    background-image: url("../images/fb62d9f8e7824b2e90b13b971e700b92.png");
    background-position: center;
    background-size: cover;
    height: 70vh;
}

#map {
    height: 24rem;
    width: 100%;
}